<%= form_for(course) do |f| %>

  <% if course.errors.any? %>
    <div id="error_explanation">
      <% course.errors.full_messages.each do |message| %>
      <font color = "red">
        <ul><%= message %></ul>
        <font color = "white">
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %>
  </div>

  <div>
    <font color = "black">
    <%= f.text_field :course_id %></font>
  </div>

  <div class="field">
    <%= f.label :description %>
  </div>

  <div>
    <font color = "black">
    <%= f.text_area :description %>
  </div> </font>

   <div class ="btn btn-lg"><font color = "black">
    <%= f.submit %>
  </div>
<% end %>
