<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.label :course_id %>
    <font color = "black">
    <%= f.text_field :course_id %></font>
  </div>

  <div class="field">
    <%= f.label :description %>
    <font color = "black">
    <%= f.text_area :description %>
  </div> </font>
  
   <div class ="btn btn-lg"><font color = "black">
    <%= f.submit %>
  </div>
<% end %>
