<h2> <%= @course.course_id %> </h2>

Description:
  <%= @course.description %>

<h2>Reviews</h2>
<table>
  <thead>
    <tr>
      <th>Professor</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.reviews.each do |review| %>
      <tr>
        <td><%=review.professor%></td>
        <td><%= review.review %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a Review:</h2>
<%= form_for([@course, @course.reviews.build]) do |f| %>
  <p>
    <%= f.label "What is the professor's name?" %><br>
    <%= f.text_field :professor %>
  </p>
    <%= f.hidden_field :course_id, :value => @course.course_id %>
  <p>
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </p>
  <p>

    <%= f.submit %>
  </p>
<% end %>
