<h1><%=params[:professor]%> </h1>
<h2>Course Material</h2>

<table>
  <div class="container">
    <div class="row">
        <div class="cols-xs-6">
			<div class="cols-sm-3">
  <thead>
    <tr>
      <th>Books</th>
      <th colspan="3"></th>
    </tr>
  </thead>
      <tbody>
	<% @books.each do |material| %>
	 <tr>
		<td><%=material.ISBN %></td>
	</tr>	
	<% end %>
 </tbody>
<table>
  <div class="container">
    <div class="row">
        <div class="cols-xs-6">
			<div class="cols-sm-3">
  <thead>
    <tr>
      <th>Syllabi</th>
      <th colspan="3"></th>
    </tr>
  </thead>
      <tbody>
	<% @syllabi.each do |material| %>
	 <tr>
		<td><%=material.name %></td>
	</tr>	
	<% end %>
 </tbody>
</table> 

<h2>Add a Material:</h2>
<% if user_signed_in? %>
  <td><%= link_to "Book", new_course_material_path(:apparatus => "Book", :professor => params[:professor], :course_id => params[:course_id], :user_id => current_user.id)  %></td>
  <td><%= link_to "Syllabus", new_course_material_path(:apparatus => "Syllabus", :professor => params[:professor], :course_id => params[:course_id], :user_id => current_user.id) %></td>
  <% else %>
   <td><%= link_to "Login to create materials", new_user_session_path  %></td>
 <% end %>