<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>
<style type="text/css">
.myclass{
  height:10%;
   background-color: #99ccff;
   padding: 5px;
   font-family:Times New Roman;
   text-decoration: none;
}

a:link, a:visited {
	text-decoration: none;
	color: blue;
	font-family:sans-serif;
}

.topcorner1{
  position:relative;
   top:10px;
   right:5px;
   float:right;
       -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 50px;
    text-decoration: none;
    color: initial;
}
.centerImage
{

 text-align:center;
display:block;
}
</style>
<header class = "myclass"> <font size = 8>Classify </font>
      <input onclick = "location.href='http://localhost:3000/forms/new';" class="topcorner1" type = "button" value="Review a course"></input>
      <!input onclick = "location.href='http://localhost:3000/home/courseform';" class="topcorner1" type = "button" value="Add a course"><!/input>
      <input onclick = "location.href='http://localhost:3000/home/help';" class="topcorner1" type = "button" value="Help"></input>
      <!input onclick = "location.href='http://localhost:3000/home/help';" class="topcorner1" type = "button" value="Help">

      <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path,:method=>:delete, :data => { :no_turbolink => false } %>
      <% else %>
          <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Sign Up", new_user_registration_path  %>
      <% end %>


</header>
  <body bgcolor = "#f0ffff">
        <div class="centerImage">
        <img src="http://www.greenexamacademy.com/wp-content/uploads/theme-uploads/leed-live-classes.jpg" alt="HTML tutorial" style="width:25%;height:25%;border:0;">
      <!alert for users>
      <p class="alert"><%= alert %></p>
    </div>
    <div style="text-align:center;" "font-family:Times New Roman">
      <center><%= yield %></center>
      <h3> Reviews needed to be listed</h3>
    </div>
    <footer align ="center">
        <p><font size = 2> @2016 classify.com / All rights reserved/ Powered by FOhF.</font></p>
    </footer>
  </body>
</html>
