<!DOCTYPE html>
<html>
  <head>
    <title>Classify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>
<style type="text/css">
.myclass{
  height:10%;
   background-color: #0277bd;
   padding: 5px;
   font-family:Times New Roman;
   text-decoration: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #8bc34a;
  font-size: 20px;
	font-family:sans-serif;
  padding: 7px;
}

.topcorner1{
  position:relative;
   top:10px;
   right:5px;
   float:right;
    height: 50px;
    text-decoration: none;
    color: initial;
}
.centerImage
{
    position:relative;
   top:100px;
   right:5px;
 text-align:center;
display:block;
}
</style>
<header class = "myclass">
  <a href="http://localhost:3000/home/index.html"><img src="/logoC.png" alt ="Classify" height = "100px" width = "250px"></a>
      <a class = "topcorner1" href="http://localhost:3000/home/help"><img src="/help.png" alt ="Help"></a>
      <% if user_signed_in? %>
          <%= link_to "Logout ", destroy_user_session_path,:method=>:delete, :data => { :no_turbolink => false } %>
      <% else %> <span "font-color:white">
          <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Sign Up", new_user_registration_path  %>
      <% end %>
</header>

<body bgcolor = "#b2cdff">
  <div class="centerImage">
       <p class="alert"><%= alert %></p>
  </div>
  <div style="text-align:center;" "font-family:Times New Roman">
    <center><%= yield %></center>
  </div>
  <footer align ="center">
    <p><font size = 2> @2016 classify.com / All rights reserved/ Powered by FOhF.</font></p>
  </footer>
</body>
</html>
