<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>
<style type="text/css">
.myclass{
  height:10%;
   background-color: #99ccff;
   padding: 5px;
   font-family:Times New Roman;
}
.topcorner1{
  position:relative;
   top:10px;
   right:5px;
   float:right;
       -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height: 50px;
    text-decoration: none;
    color: initial;
}
.centerImage
{

 text-align:center;
display:block;
}
</style>
<header class = "myclass"> <font size = 8>Classify </font>
      <!input class="topcorner1" type = "button" value="Review a course" href = "http://localhost:3000/home/review">
      <!input class="topcorner1" type = "button" value="Add a course" href ="http://localhost:3000/home/courseform">
      <!input class="topcorner1" type = "button" value="Help" href="http://localhost:3000/home/help">
      <!input class="topcorner1" type = "button" value="Help" href="http://localhost:3000/users/sign_in">

      <form action="http://localhost:3000/home/review">
          <input type="submit" value="Review a course">
      </form>

      <form action="http://localhost:3000/home/courseform">
          <input type="submit" value="Add a course">
      </form>

      <form action="http://localhost:3000/home/help">
          <input type="submit" value="Help">
      </form>

      <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path,:method=>:delete, :data => { :no_turbolink => false } %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path  %>
          <%= link_to "Sign Up", new_user_registration_path  %>
        </li>
      <% end %>


</header>
  <body>
        <div class="centerImage">
      <a href="http://localhost:3000/reviews/review">
        <img src="http://www.greenexamacademy.com/wp-content/uploads/theme-uploads/leed-live-classes.jpg" alt="HTML tutorial" style="width:25%;height:25%;border:0;">
</a>
      <!alert for users>
      <p class="alert"><%= alert %></p>
    </div>
    <div style="text-align:center;" "font-family:Times New Roman">
      <%= yield %>
    </div>
  </body>
</html>
